<!DOCTYPE html>
<html>

  <head>   
    <%- include("blocks/Head.ejs") %>   
    <script src="https://unpkg.com/docx@7.1.0/build/index.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.js"></script>
  </head>

  <body>

    <header>
        <div class="container">
            <div class="group">
                <h2>
                    Экспорт
                </h2>
                <p>
                    <%= new Date().toLocaleString()  %>
                </p>
            </div>
        </div>
    </header>

    <section id="export">
        <div class="container">
            <h3>Выберите дату посещаемости:</h3>
            <input type="date" id="date1">
            <input type="date" id="date2">
            <select id="GropSelect">
                <% for(var key in group) { %> 
                    <option value="<%- group[key].id %>"><%= group[key].Name %></option>
                <% } %> 
            </select>
            <a href="#" class="btn" onclick="generate()"><div class="export"></div><p>Экспортировать</p></a>
        </div>
    </section>
    <%- include("blocks/WordExport.ejs") %>   
  </body>
</html>

