<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("blocks/Head.ejs") %>   
    
</head>
<body>
    <header>
        <div class="container">
            <div class="group">
                <a href="/" class="back"></a>
                <h2><%= group %> </h2>
                <p><%= new Date().toLocaleString() %></p>
            </div>
        </div>
    </header>
        <section id="update">
            <div class="container">
                <h3>Редактирование данных на сегодня:</h3>
                <nav>
                    <script>var users = {};</script>
                    <ul class="list">
                        <% if(allUsers) { %> 
                            <% allUsers.forEach((arr, index) => { %> 
                                    <div class="flexable">
                                        <li><%= index + 1 %></li>
                                        <li><%= arr.dataValues.first_name %> <%= arr.dataValues.surname %></li>
                                    </div>
                                    <script>users['<%- arr.dataValues.id %>'] = {};</script>
                            <% }); %> 
                        <% } %> 
                    </ul> 
                    <div class="otm">
                        <% if(allUsers) { %> 
                            <!-- <% var js = JSON.stringify(checks) %>  -->
                            <% for(var key2 in checks) { %>
                                <ul class="checkbox-list" id="list<%- key2 %>">
                                    <% console.log(checks[key2].dataValues.value) %> 
                                    <% for(var p in checks[key2].dataValues.value) {%> 
                                        <% var par = checks[key2].dataValues.value[p] %> 
                                        <li class="check" id="check<%- key2 %>"><%= par %></li>
                                    <% } %> 
                                </ul>
                            <% } %>
                        <% } %> 
                        <script>
                            function fixValue(){
                                var params = [];
                                var list = document.getElementsByClassName('checkbox-list');
                                for (let i = 0; i < list.length; i++) {
                                    var text = [];
                                    list[i].childNodes.forEach(obj => {
                                        if(obj.innerHTML != undefined){
                                            text.push(obj.innerHTML);
                                        }
                                    });
                                    params.push(text);
                                }

                                var iter = 0;
                                for(key in users){
                                    users[key] = params[iter]; 
                                    iter++;
                                    console.log(users);
                                }
                            }


                            var ch = document.querySelectorAll('.checkbox-list'); 
                            for (let i = 0; i < ch.length; i++) {
                                ch[i].childNodes.forEach(obj => {
                                    obj.addEventListener('click', event => {
                                        event.preventDefault();
                                        console.log(ch[i].id + " : " + obj.id + ":" + obj.innerHTML);
                                        
                                        if(obj.innerHTML == ""){
                                            obj.innerHTML = "H";
                                        }else if(obj.innerHTML == 'H'){
                                            obj.innerHTML = "Y";
                                        }else if(obj.innerHTML == 'Y'){
                                            obj.innerHTML = "";
                                        }

                                        fixValue();
                                    })
                                });
                            }
                        </script>
                    </div>
                </nav>        
                <br>     
                <button class="button" type="submit">Сохранить</button>
            </div>
        </section>      
    <%- include("blocks/FormationJsonUpdate.ejs") %>
</body>
</html>